header.header
  nav.nav.nav--tours
    a.nav__el(href='/') All Tours
    //- video did not add this form
    //-form.nav_search
    //-  button.nav__search-btn
    //-    svg
    //-      use(xlink:href='img/iconsvg#icon-search')
    //-  input.nav_search-inp(type='text' placeholder='SearcTours')
  .header__logo
    a(href='/')
      img(src='/img/logo-white.png' alt='Natours Logo')
  nav.nav.nav--user
    if user
      a.nav__el#logout-btn Log Out
      a.nav__el(href='/me')
        img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
        span= user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Log in
      a.nav__el.nav__el--cta(href='/signup') Sign up